<div class="row justify-content-center" *ngIf="bill$ | async as bill">

    <h1 class="text-center my-3">Bill editor</h1>

    <div class="mt-3 col-12 col-md-10 col-lg-8 border">

        <form #productEditorForm="ngForm" (ngSubmit)="onUpdate(bill)" class="mx-auto">

            <div class="row my-2">
                <label for="order" class="col-12">
                    <b>Order</b> (Sorted by last name)
                </label>
                <div class="col-12">
                    <select class="form-select" id="order" required [(ngModel)]="bill.orderID" name="order">
                        <ng-container *ngIf="orderList$ | async as orderList">
                            <!-- <option value="" [selected]="bill.id==0">---Select Order---</option> -->
                            <option
                                *ngFor="let order of (orderList | sorter:'customerFirstName':'increasing' | sorter:'customerLastName':'increasing')"
                                [value]="order.id" [selected]="bill.orderID== order.id">
                                {{order['customerFirstName']}} {{order['customerLastName']}} - (#{{order.id}}) -
                                {{order['customerProductName']}}
                            </option>

                        </ng-container>
                    </select>
                    <div *ngIf="productEditorForm.controls['order']?.invalid" class="error-message">
                        Select an order!
                    </div>
                </div>
            </div>

            <div class="row mb-2 ">
                <label for="amount" class="col-12">
                    <b>Amount</b>
                </label>
                <div class="col-12">
                    <input name="amount" id="amount" [(ngModel)]="bill.amount" type="number" class="form-control"
                        min="1" required />
                    <div *ngIf="productEditorForm.controls['amount']?.invalid" class="error-message">
                        Minimum amount is more then one!
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <label for="status" class="col-12">
                    <b>Status</b>
                </label>
                <div class="col-12">
                    <select class="form-select" id="status" required [(ngModel)]="bill.status" name="status">
                        <option *ngFor="let status of billStatus" [value]="status" [selected]="bill.status == status">
                            {{status }}
                        </option>
                    </select>
                    <div *ngIf="productEditorForm.controls['status']?.invalid" class="error-message">
                        Select a status!
                    </div>
                </div>
            </div>

            <hr>

            <div class="mt-3 d-flex justify-content-center">
                <button [disabled]="productEditorForm.invalid" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>

        </form>

    </div>

</div>