.column__header:hover {
  cursor: pointer;
}

.sort__direction__icon {
  color: rgb(58, 1, 1);
}

th,
td {
  min-width: 5vw;
  max-width: 20vw;
  overflow: hidden;
}

.table__table--sum {
  background-color: rgb(17, 109, 112);
  font-style: oblique;

  td {
    color: white;
  }
}