<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let col of columns" (click)="onColumnSelect(col.key)" class="column__header">
            <div class="d-flex justify-content-between">
              {{ col.title }}
              <i *ngIf="sortColumn==col.key" [ngClass]="sortIcon" class="sort__direction__icon mt-2"></i>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of list | sorter:sortColumn:sortDirect | paginate: { itemsPerPage: 10, currentPage: page }">
          <td *ngFor="let col of columns">
            {{ row[col.key] }}
          </td>
          <td>
            <div class="btn-group">
              <button (click)="raiseSelect(row)" class="btn btn-info">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="d-flex justify-content-center col-12 mt-4 mx-auto">
  <style>
    .my-pagination /deep/ .ngx-pagination .current {
      background: rgb(39, 111, 255);
    }
  </style>
  <pagination-controls class=" my-pagination" (pageChange)="page = $event" previousLabel="Previous" nextLabel="Next">
  </pagination-controls>
</div>
