<div class="row justify-content-center" *ngIf="order$ | async as order">

    <h1 class="text-center my-3">Order editor</h1>

    <div class="mt-3 col-12 col-md-10 col-lg-8 border">

        <form #productEditorForm="ngForm" (ngSubmit)="onUpdate(order)" class="mx-auto">

            <div class="row my-2">
                <label for="customer" class="col-12">
                    <b>Customer</b> (Sorted by last name)
                </label>
                <div class="col-12">
                    <select class="form-select" id="customer" required [(ngModel)]="order.customerID" name="customer">
                        <ng-container *ngIf="customerList$ | async as customerList">
                            <!-- <option value="" [selected]="true">---Select Customer---</option> -->
                            <option
                                *ngFor="let customer of (customerList | sorter:'firstName':'increasing' | sorter:'lastName':'increasing')"
                                [value]="customer.id" [selected]="order.customerID == customer.id">
                                {{customer.firstName }} {{customer.lastName }} - (#{{customer.id }}) -
                                {{customer.address.zip }} {{customer.address.country }}
                                {{customer.address.city }} {{customer.address.street }}
                            </option>
                        </ng-container>
                    </select>
                    <div *ngIf="productEditorForm.controls['product']?.invalid" class="error-message">
                        Select a customer!
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <label for="product" class="col-12">
                    <b>Product</b> (Sorted by name)
                </label>
                <div class="col-12">
                    <select class="form-select" id="product" required="true" [(ngModel)]="order.productID"
                        name="product">
                        <ng-container *ngIf="productList$ | async as productList">
                            <!-- <option value="" [selected]="true">---Select Product---</option> -->
                            <option *ngFor="let product of productList | sorter:'name':'increasing'"
                                [value]="product.id" [selected]="order.productID == product.id">
                                {{ product.name }} - (#{{ product.id }}) - {{ product.price }}
                            </option>
                        </ng-container>
                    </select>
                    <div *ngIf="productEditorForm.controls['product']?.invalid" class="error-message">
                        Select a product!
                    </div>
                </div>
            </div>

            <div class="row mb-2 ">
                <label for="amount" class="col-12">
                    <b>Amount</b>
                </label>
                <div class="col-12">
                    <input name="amount" id="amount" [(ngModel)]="order.amount" type="number" class="form-control"
                        min="1" required />
                    <div *ngIf="productEditorForm.controls['amount']?.invalid" class="error-message">
                        Minimum amount is more then one!
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <label for="status" class="col-12">
                    <b>Status</b>
                </label>
                <div class="col-12">
                    <select class="form-select" id="status" required [(ngModel)]="order.status" name="status">
                        <option *ngFor="let status of orderStatus" [value]="status" [selected]="order.status == status">
                            {{status }}
                        </option>
                    </select>
                </div>
            </div>

            <hr>

            <div class="mt-3 d-flex justify-content-center">
                <button [disabled]="productEditorForm.invalid" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>

        </form>

    </div>

</div>